.game-over-screen {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.game-over-screen.active {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
