.voltorb-field {
    display: flex;
    gap: 6px;
}

.voltorb-field.vertical {
    flex-direction: column;
    margin-left: 6px;
}

.voltorb-field.horizontal {
    margin-top: 6px;
    flex-direction: row;
}

.voltorb-field .voltorb-card:nth-child(1) {
    background-color: #dc7059;
}

.voltorb-field .voltorb-card:nth-child(2) {
    background-color: #49a64b;
}

.voltorb-field .voltorb-card:nth-child(3) {
    background-color: #e49e4c;
}

.voltorb-field .voltorb-card:nth-child(4) {
    background-color: #3d94f2;
}

.voltorb-field .voltorb-card:nth-child(5) {
    background-color: #be69da;
}
