.card {
    width: 100%;
    aspect-ratio: 1/1;
    border: 4px solid white;
    border-radius: 4px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: relative;
}

.card.flipped {
    animation: flipCard 0.4s ease-out forwards;
}

.card:hover {
    border-color: #fc443a;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    border: 2px solid #33493c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.card-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border: 4px solid #1d835d;
}

.card-tile {
    background-color: #1d835d;
}

.card-tile:nth-child(even) {
    background-color: #33a366;
}

.card-back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back-value {
    margin: 0;
    padding: 0;
    position: relative;
    transform: rotateY(180deg);
    pointer-events: none;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.card-back-bomb {
    height: 100%;
    width: 100%;
    padding: 6px 8px 0;
}

@keyframes flipCard {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}
