.voltorb-card {
    width: 100%;
    aspect-ratio: 1/1;
    border: 4px solid white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.voltorb-card__point-digit,
.voltorb-card__bomb-digit {
    padding-inline: 4px;
    height: 50%;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.voltorb-card__point-digit {
    justify-content: end;
    border-bottom: 2px solid white;
    padding-top: 2px;
}

.voltorb-card__bomb-digit {
    justify-content: space-between;
    border-top: 2px solid white;
}

.voltorb-card__sprite {
    display: inline-block;
    height: 75%;
    background-image: url('/images/voltorb.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1 / 1;
    margin-right: 4px;
}

.voltorb-card span {
    font-size: 1rem;
    line-height: 1.25rem;
}
