.voltorb-card {
    width: 100%;
    aspect-ratio: 1/1;
    border: 4px solid white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.voltorb-card__point-digit,
.voltorb-card__bomb-digit {
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 6px;
    height: 50%;
    text-align: right;
}

.voltorb-card__point-digit {
    border-bottom: 4px solid white;
}

.voltorb-card__sprite {
    display: inline-block;
    height: 75%;
    background-image: url('/images/voltorb.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1 / 1;
    vertical-align: sub;
    margin-right: 20px;
}

.voltorb-card span {
    font-size: 50px;
    line-height: 52px;
}
